<div class="compte">
    <div class="photo">
        <div class="image">
            <img alt="PDP" src={Routes.static_path(@socket, "/images/pdp.jpg")}>
        </div>
        <div class="upload">
            <a><i class="fas fa-camera"></i></a>
        </div>
    </div>
    <div class="apropos">
        <p>Nom</p>
        <p>Prenom</p>
        <p>Ville</p>
        <p>Telephone</p>
    </div>
</div>