<div class="contact">
    <div class="form">
    <h2>Contact</h2>
        <form>
            <input type="text" placeholder="Votre nom ici">
            <input type="text" placeholder="Votre mail">
            <textarea></textarea>
            <input type="submit">
        </form>
    </div>
</div>